{% extends 'base.html' %}
{% block content %}
<nav class="navbar" style="background-color: #d9f06e;">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Rafif Naufal Rahmadika</span>
      <a class="btn btn-info" href="{% url 'wishlist:logout' %}" role="button">Logout</a>
    
    </div>
</nav>

<div class="wishlist">
    <h5>Nama: </h5>
    <p>{{nama}}</p>

    <table>
        <tr>
        <th>Nama Barang</th>
        <th>Harga Barang</th>
        <th>Deskripsi</th>
        </tr>
        {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
        {% for barang in list_barang %}
        <tr>
            <td>{{barang.nama_barang}}</d>
            <td>{{barang.harga_barang}}</td>
            <td>{{barang.deskripsi}}</td>
        </tr>
    {% endfor %}
    </table>
    <h5 id="cookies">Sesi terakhir login: {{ last_login }}</h5>
    <a id="button-register" href="{% url 'wishlist:logout' %}">Logout</a>
    <a id="button-register" href="{% url 'wishlist:wishlist_ajax' %}">Ajax Version</a>
</div>


{% endblock content %}